
.Main-content {
    margin:2% 5%;
    table {
        border-collapse: separate;
        border-spacing: 0 15px;
        table-layout: fixed;
        width: 100%;
    }
    
    .table-header th,
    .table-data td {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        border: 0 !important;
        vertical-align: middle !important;
    }
    
    th input {
        width: -webkit-fill-available;
    }
    
    .table-header {
        border: 1px solid #dadada;
        box-shadow: none !important;
    }
    
    .table-data {
        background-color: white !important;
        box-shadow: 0 1px 6px 0 rgba(179, 179, 179, 0.5);
    }
    
    .custom-input {
        border: 1px solid #dadada;
        border-radius: 5px;
        box-shadow: 0 1px 6px 0 rgba(179, 179, 179, 0.5);
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    .custom-input::before,.search-data::before {
        content: "\e91b";
        color: #9b9b9b;
        font-family: 'Maco';
        font-size: 18px;
        margin: 0px 10px;
    }
    .search-data::before{
        font-size: 14px;
    }
    .custom-input input ,.search-data input{
        border: none !important;
    }
    
    .serch-edit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span::before {
            color: gray;
            font-size: 25px;
            cursor: pointer;
        }
    }
    
    
    .save-cancelbtn{
        display: flex;
        align-items: center;
    
    span{
        width: 50px;
        height: 50px;
        display: flex;
        border-radius: 50%;
        background-color: #ff6000;
        justify-content: center;
        align-items: center;
        margin:20px;
        cursor: pointer;
        &::before{
            font-size: 20px;
            color:white;
        }
        .cross-icon::before{
            font-size: 14px !important;
        }
    }
}
   
}

